:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}

video {
  position: absolute;

  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

model-viewer {
  position: absolute;
  width: 100%;
  height: 100%;

  --poster-color: #eee;
  z-index: 100000;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.button {
  width: 5em;
  height: 5em;
  margin: 2em;
  padding: 2em;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 50%;
  font-weight: bold;
}

.button:active {
  transform: scale(.8);
}

#ar_btn {
  background-image: url(assets/img/btn_ar.svg);
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  white-space: nowrap;
  width: 6em;
  height: 6em;
}

#animation_btn {
  background-image: url(assets/img/ar_icon.png);
  background-position: 50% 50%;
  background-color: #000;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .3);
  border-radius: 10%;
  background-size: 75%;
}

#colorButtons {
  position: absolute;
  right: 0;
  bottom: 2em;
  box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, .3);
  border-radius: 20px 0 0 20px;
}

#opticsButtons {
  border-top: .5px solid #c7c7c7
}

.colorButton, .opticsButton {
  box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, .3);
  display: block;
}


#wht_btn {
  background-image: url(assets/img/btn_white.svg);
}

#blk_btn {
  background-image: url(assets/img/btn_black.svg);
}

#alu_btn {
  background-image: url(assets/img/btn_alu.svg);
}

#opt_btn {
  background-image: url(assets/img/btn_opti.svg);
}

#lens_btn {
  background-image: url(assets/img/btn_lens.svg);
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}
